.todo-item {
  text-decoration: none;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #000;
  transition: all 0.2s ease;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.todo-item__text{
  flex: 1;
  padding-inline-start: 10px;
  overflow: hidden;
}

.todo-item__input{
  background-color: transparent;
  border: 0;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  text-decoration-color: transparent;
  text-decoration-line: line-through;
  transition: text-decoration-color ease-in-out 0.2s;
}
.todo-item:not(.completed) .todo-item__input:hover{
  background-color: #d3d3d3;
  cursor: pointer;
}

.todo-item:hover, .todo-item.completed:hover {
  background-color: #FBDA61;
  
}

.todo-item__check {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  border: 3px solid transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item__check svg{
  visibility: hidden;
  color: #4CAF50;
}


.todo-item__check:hover {
  cursor: pointer;
}

.todo-item__delete {
  transition: color 0.2s ease-in-out;
}

.todo-item__delete:hover {
  cursor: pointer;
  color: #F44336;
}

.todo-item.completed {
  background-color: #F5F5F5;
  opacity: 0.7;
}

.todo-item.completed svg {
  visibility: visible;
}

.todo-item.completed .todo-item__input {
  text-decoration-color: black; 
}

@media screen and (max-width: 768px) {
  .todo-item {
    width: 80%;
  }
}
  