.button-create {
  display: block;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  color: #fff;
  background-color:#e11f59;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.button-create.close{
  background-color:#e11f59;
  transform: rotate(135deg);
}